<!DOCTYPE html>
<html>
<head>
  <title>MTP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("T2040logo.jpg") %>
		<%= @page_title || "Transportation 2040 Project List" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="">nav1</a></li>
				<li><a href="">nav2</a></li>
				<li><a href="">nav3</a></li>
				<li><a href="">nav4</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
